This is {{title}}

<hr>

<select name="" id="" (change)="SetColor($event)">
    <option value="">--Select Color</option>
    <option value="R">Red</option>
    <option value="G">Green</option>
    <option value="B">Blue</option>
    <option value="D">Default</option>
</select>

<div [ngSwitch]="color">
    <div *ngSwitchCase="'R'">
        <h3 style="color: red;">This is red color</h3>
    </div>

    <div *ngSwitchCase="'G'">
        <h3 style="color: green;">This is red color</h3>
    </div>

    <div *ngSwitchCase="'B'">
        <h3 style="color: blue;">This is red color</h3>
    </div>
    <div *ngSwitchDefault>
        <h3>This is Default color</h3>
    </div>
</div>