<mat-toolbar color="primary" class="flex justify-content-between">
  PHUC DN
  <a routerLink="/blogs" mat-stroked-button> Blogs </a>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menuDialog">
      <mat-icon style="margin-right: 10px" matBadge="15" matBadgeColor="accent">
        notifications
      </mat-icon>
    </button>

    <mat-menu #menuDialog="matMenu">
      <button mat-menu-item>Your Friend Got a new car</button>
      <button mat-menu-item>Test-02-Message</button>
    </mat-menu>
  </div>
  <a routerLink="/login" mat-stroked-button> LOGIN </a>
</mat-toolbar>
<router-outlet></router-outlet>
