<div class="test">
  <h1>This is component home</h1>
  <br />
  <!-- <input type="text"  [(ngModel)]="name"/>
  <h2>Hello {{name}}</h2> -->

  <br />
  <!-- <input type="text"  [value]="name" title="This is {{name}}"/>
  <br />
  <input type="text"  [value]="name" [title]="'Day la' +name"/> -->

  <!-- <h2 *ngIf="age >= 30">You are elder</h2>
  <h2 *ngIf="age < 30">You are so young</h2> -->

  <!-- <button (click)="resetName()">Reset Ten</button> -->
  <!-- <input type="text" [(ngModel)]="age" /> -->
  <!-- <h2 *ngIf="age >= 30">You are elder</h2>
  <h2 *ngIf="age < 30">You are so young</h2> -->

  <!-- <h3>Tuoi ban la {{ age }}</h3>

  <div *ngIf="age <= 18; then tre; else gia"></div>

  <ng-template #tre>
    <h2>You are so young!</h2>
  </ng-template>
  <ng-template #gia>
    <h2>You are elder</h2>
  </ng-template> -->

  <h1>Fruits</h1>

  <!-- <div *ngFor="let item of listFruit; let i =index">
    <li>{{item}} - {{i+1}}</li>

  </div> -->
  <br />
  <!-- <table class="table">
    <tr >
      <th>Index</th>
      <th>Fruit</th>
      <th>Price</th>
      <th>Down Sale</th>
    </tr>
    <tr *ngFor="let item of listFruit2; let i = index">
      <td>{{i + 1}}</td>
      <td>{{item.name | uppercase}}</td>
      <td class="right">
        <span [ngClass]="{'so-am': item.price < 0 }">
          {{ item.price | currency :'USD':'symbol':'4.2-2'}}
        </span>

      </td>

      <td>

        <span >
          {{item.isDownSale | onSale | uppercase }}
        </span>
      </td>
    </tr>
    
  </table> -->


  <label for="cars">Tinh/ Thanh Pho:</label>
  <select id="cars" (change)="changeCity($event)">
    <option *ngFor="let item of listCities" [value]="item.city">
      {{item.city}}
    </option>
    
  </select>

  <br />

  <label for="cars">Quan/ Huyen:</label>
  <select id="district">
    <option *ngFor="let district of districts" value="{{ district }}">
      {{ district }}
    </option>
  </select>
</div>


